Source: logstreamxx
Section: libs
Priority: extra
Maintainer: Uditha Atukorala <udi@geniusse.com>
Build-Depends: debhelper (>= 9), autotools-dev, doxygen, libcppunit-dev
Standards-Version: 3.9.4
Homepage: https://github.com/uditha-atukorala/logstreamxx
Vcs-Git: git://github.com/uditha-atukorala/logstreamxx.git
Vcs-Browser: https://github.com/uditha-atukorala/logstreamxx

Package: liblogstreamxx0
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ logging library based on standard stream classes
 logstreamxx is a small and simple log library which provides a STL stream
 output operator (<<) interface for logging. This library is not thread-safe
 and not intended to provide advanced features similar to other C++ logging
 libraries that are closer to log4j (log4cxx, log4cpp etc.).

Package: liblogstreamxx0-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Provides: liblogstreamxx-dev
Depends: liblogstreamxx0 (= ${binary:Version}), ${misc:Depends}
Description: C++ logging library based on standard stream classes (development)
 logstreamxx is a small and simple log library which provides a STL stream
 output operator (<<) interface for logging. This library is not thread-safe
 and not intended to provide advanced features similar to other C++ logging
 libraries that are closer to log4j (log4cxx, log4cpp etc.).
 .
 This package contains the development files for logstreamxx library.

